{% extends 'base.html.twig' %}

{% block title %}
    login
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}


    <div id="content" class="my-account">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 cd-user-modal">
                    <div class="my-account-form">
                        <ul class="cd-switcher">
                            <li><a class="selected" href="{{ path('security_login') }}">CONNEXION</a></li>
                            <li><a href="{{ path('security_register') }}">INSCRIPTION</a></li>
                        </ul>
                        <div id="cd-login" class="is-selected">
                            <div class="page-login-form">
                                <form role="form" method="post" class="login-form">
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <i class="ti-user"></i>
                                            <input type="text" id="sender-email" class="form-control" name="_email"
                                                   value="{{ lastUsername }}" placeholder="Adresse mail">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <i class="ti-lock"></i>
                                            <input type="password" class="form-control" name="_password"
                                                   placeholder="Mot de passe">
                                        </div>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                    <button class="btn btn-common log-btn">Se connecter</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


