{% extends 'base.html.twig' %}

{% block title %}
    register
{% endblock %}

{% block body %}
    <div id="content" class="my-account">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 cd-user-modal">
                    <div class="my-account-form">
                        <ul class="cd-switcher">
                            <li><a href="{{ path('security_login') }}">CONNEXION</a></li>
                            <li><a class="selected" href="{{ path('security_register') }}">INSCRIPTION</a></li>
                        </ul>
                        <div id="cd-login" class="is-selected">
                            <div class="page-login-form">
                                {{ form_start(form, { attr: { class: "login-form" }}) }}
                                    <div class="form-group">
                                        <div class="form-error">{{ form_errors(form.email) }}</div>
                                        <div class="input-icon">
                                            <i class="ti-user"></i>
                                            {{ form_widget(form.email, {
                                            attr: { id: "sender-email", class:"form-control", placeholder: "Adresse mail"}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-error">{{ form_errors(form.password.first) }}</div>
                                        <div class="input-icon">
                                            <i class="ti-lock"></i>
                                            {{ form_widget(form.password.first, {
                                            attr: { class:" form-control", placeholder: "Mot de passe"}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-error">{{ form_errors(form.password.second) }}</div>
                                        <div class="input-icon">
                                            <i class="ti-lock"></i>
                                            {{ form_widget(form.password.second, {
                                            attr: { class:" form-control", placeholder: "Répetez le mot de passe"}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-error">{{ form_errors(form.type) }}</div>
                                        <div class="input-icon">
                                            {{ form_widget(form.type, {
                                            attr: { class:" form-control"}}) }}
                                        </div>
                                    </div>
                                    <button class="btn btn-common log-btn">Créer un compte</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{#
{% block title %}
    register
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}

        <button type="submit">S'inscrire</button>
    {{ form_end(form) }}
    {% endblock %}
    #}
