{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block header %}
    <div class="search-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <h1 style="line-height: 50px">Découvrez une nouvelle façon de trouver un job !</h1>
                    <h2>Que vous soyez un <b>recruteur</b> ou un <b>futur recruté</b>, vous trouverez votre bonheur !</h2>
                </div>
                <div class="content" style="text-align: center">
                    <a href="{{ path('security_register') }}" class="btn btn-common" style="margin-right: 5em; margin-bottom: 1em;"><- Côté recruteur</a>
                    <a href="{{ path('security_register') }}" class="btn btn-common" style="margin-bottom: 1em;">Côté candidat -></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="text-align: center;">
                    <img style="max-width: 60%; margin:auto;" src="{{ asset('img/recruitment.png') }}" />
                    <p>
                        Vous êtes un recruiteur ?<br/>
                        Découvrez notre système unique de tri des candidats !<br/>
                        Grâce à lui, vous n'aurez jamais mis aussi peu de temps pour trouver le candidat idéal.
                    </p>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <img style="max-width: 60%; margin:auto;" src="{{ asset('img/student.png') }}" />
                    <p>
                        Vous êtes étudiant et vous chercher un premier travail ? <br/>
                        Fatigué d'essayer refus sur refus ? <br/>
                        Venez completer votre profil chez nous et soyez assurer que des recruteurs se pencheront sur votre profil !
                    </p>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <img style="max-width: 60%; margin:auto;" src="{{ asset('img/businessman.png') }}" />
                    <p>
                        Trouver un travail n'aura jamais été aussi simple !<br/>
                        Profitez de notre solution pour mettre en valeur vos expériences et projets personnels.<br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
