{% extends 'candidateBase.html.twig' %}

{% block body %}
    <div id="content">
        <div class="container">
            <div class="row">
                {{ include("candidate_job/sidebar.html.twig") }}
                <div class="col-md-8 col-sm-8 col-xs-12">
                    {% for job in jobsPager.currentPageResults %}
                        <div class="job-list">
                            <div class="thumb">
                                <a href="job-details.html"><img src="assets/img/jobs/img-1.jpg" alt=""></a>
                            </div>
                            <div class="job-list-content">
                                <h4><a href="{{ path('candidate_show_job', {'id': job.id}) }}">{{ job.title }}<span class="full-time">{{ shortTypes[job.type] }}</span></a></h4>
                                <p>{{ job.description|nl2br }}</p>
                                <div class="job-tag">
                                    <div class="pull-right">
                                        <a
                                            href="{{ path('candidate_show_job', {'id': job.id}) }}"
                                           class="btn btn-common btn-rm"
                                        >
                                            Plus d'infos
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <br>
                    <div class="pagerfanta pager">
                        {{ pagerfanta(jobsPager, 'twitter_bootstrap3_translated') }}
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
