{% extends 'candidateBase.html.twig' %}

{% block body %}
    <section class="job-detail section">
        <div class="container">
            <div class="row">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-message alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="header-detail">
                        <div class="header-content pull-left">
                            <h3><a>{{ job.title }}</a></h3>
                            <p><span>Annonce mise à jour le {{ job.createAt | date }}</span></p>
                            <hr/>
                            <h4>L'entreprise</h4>
                            <p>{{ society.description|nl2br }}</p>
                            <h4>Description de l'offre</h4>
                            <p>{{ job.description|nl2br }}</p>
                        </div>
                        <div class="detail-company pull-right text-right">
                            <div class="img-thum">
                                <img class="img-responsive" src="assets/img/jobs/recent-job-detail.jpg" alt="">
                            </div>
                            <div class="name">
                                <h3>Entreprise :</h3>
                                <h4>{{ society.name }}</h4>
                                <h5>{{ sectors[society.sector] }}</h5>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="meta">
                                <button
                                    type="button"
                                    class="btn btn-border btn-sm"
                                    data-toggle="modal"
                                    data-target="#applicationModal"
                                >
                                    <i class="ti-email"></i> Postuler
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Application Modal -->
    <div id="applicationModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                {{ form_start(applicationForm) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Envoyer une candidature</h4>
                </div>
                <div class="modal-body">
                    Ce message sera joint aux informations de votre profil (cv, description, etc...).
                    {{ form_row(applicationForm._token) }}

                    {{ form_row(applicationForm.text, { 'label': 'Message', 'attr': { 'rows': 10 }}) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-border btn-danger btn-sm" data-dismiss="modal">Annuler</button>
                    <input type="submit" class="btn btn-border btn-sm" value="Envoyer" />
                </div>
                {{ form_end(applicationForm) }}
            </div>

        </div>
    </div>
{% endblock %}
