{% extends 'candidateBase.html.twig' %}

{% block body %}
    <div id="content">
        <div class="container">
            <div class="row">
                {{ include('candidate_job/sidebar.html.twig') }}
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="job-alerts-item candidates">
                        <h3 class="alerts-title">Mes candidatures</h3>
                        <div class="alerts-list">
                            <div class="row">
                                <div class="col-md-3">
                                    <p>Offre</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Envoyé le</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Status</p>
                                </div>

                            </div>
                        </div>
                        {% for application in appPager.currentPageResults %}
                            <div class="alerts-content">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h3><a href="{{ path('candidate_show_job', { 'id': application.job.id }) }}">{{ application.job.title }}</a></h3>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ application.createdAt | date('d/m/Y') }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ application.statusString }}</p>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <br>
                        <div class="pagerfanta pager">
                            {{ pagerfanta(appPager, 'twitter_bootstrap3_translated') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
