<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="right-sideabr">
        <div class="inner-box">
            <h4>Menu</h4>
            <ul class="lest item">
                <li>
                    <a
                        href="{{ path('candidate_browse_jobs') }}"
                        class="{{ current_path in ['candidate_browse_jobs'] ? 'active' : '' }}"
                    >
                        Parcourir les offres
                    </a>
                </li>
                <li>
                    <a
                            href="{{ path('candidate_show_applications') }}"
                            class="{{ current_path in ['candidate_show_applications'] ? 'active' : '' }}"
                    >
                        Mes candidatures
                    </a>
            </ul>
        </div>
    </div>
</div>

