a:hover,a:focus {
    color: #ff4f57
}

.btn-common {
    background: #ff4f57
}

.btn-common:hover,.btn-common:focus {
    background: #f96b73
}

.btn-border {
    color: #ff4f57;
}

.back-to-top i {
    background-color: #ff4f57
}

#color-style-switcher .bottom a i {
    color: #ff4f57
}

.slicknav_btn {
    border-color: #ff4f57;
    border-radius: 2px
}

.slicknav_menu .slicknav_btn .slicknav_icon-bar {
    background: #ff4f57
}

.slicknav_menu .slicknav_btn:hover {
    background: #ff4f57
}

.slicknav_nav .active a {
    background: #ff4f57
}

.slicknav_nav a:hover,.slicknav_nav .active {
    color: #ff4f57
}

.slicknav_nav .dropdown li a.active {
    background: #ff4f57
}

.tbtn {
    background: #ff4f57
}

.navbar-default.affix .float-right li a {
    color: #ff4f57!important;
    border-color: #ff4f57
}

.navbar-default.affix .float-right li a:hover {
    background: #ff4f57
}

.navbar-default .float-right li a:hover {
    border-color: #ff4f57
}

.main-navigation .float-right li a {
    border-color: #ff4f57;
    color: #ff4f57!important
}

.navbar-default .navbar-nav>li:hover>a,.navbar-default .navbar-nav>li>a.active {
    background: #ff4f57
}

.navbar-default .navbar-nav .dropdown {
    border-color: #ff4f57
}

.dropdown>li:hover>a {
    background-color: #ff4f57
}

.dropdown>li:hover>a {
    background-color: #ff4f57;
    color: #fff
}

.dropdown li a.active,.sup-dropdown li a.active {
    background-color: #ff4f57;
    color: #fff
}

.dropdown-menu li a:hover,.dropdown-menu li a:focus,.dropdown-menu li a:active {
    background: #ff4f57
}

.btn-search-icon {
    background: #ff4f57
}

.popular-jobs a:hover {
    background: #ff4f57;
    border-color: #ff4f57
}

.full-time {
    background: #ff4f57
}

.job-list .job-tag .icon {
    color: #ff4f57
}

.find-job .showing a span {
    color: #ff4f57
}

.job-list .job-tag .meta-tag span a:hover {
    color: #ff4f57
}

.pagination .active>a,.pagination .active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
    background: #ff4f57!important
}

.pagination .active>a,.pagination .active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
    background-color: #ff4f57!important;
    border-color: #ff4f57!important
}

.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover {
    background-color: #ff4f57!important;
    border-color: #ff4f57!important
}

.category {
    background: #ff4f57
}

.f-category .icon i {
    color: #ff4f57
}

.featured-jobs .item-foot .view-iocn a {
    background: #ff4f57
}

.owl-theme .owl-controls .owl-buttons div {
    background: #ff4f57!important
}

.counting .icon i {
    color: #ff4f57
}

.counting .desc h2::after {
    background: #ff4f57
}

.infobox {
    background: #ff4f57
}

.bottom-social-icons a {
    background: #ff4f57;
    color: #fff
}

.subscribe-box input[type=submit] {
    background: #ff4f57
}

footer .menu li a:hover {
    color: #ff4f57
}

#copyright p a:hover {
    color: #ff4f57
}

.find-job .nav-tabs>li.active>a,.find-job .nav-tabs>li.active>a:focus,.find-job .nav-tabs>li.active>a:hover {
    background: #ff4f57
}

.find-job .nav-tabs>li>a {
    color: #ff4f57;
    border-color: #ff4f57!important
}

.find-job .nav>li>a:focus,.find-job .nav>li>a:hover {
    background-color: #ff4f57
}

.breadcrumb {
    color: #ff4f57
}

.medium-title::before {
    border-bottom: 2px solid #ff4f57
}

.service-item .icon-wrapper i {
    color: #ff4f57
}

.job-detail .text-left .meta span i {
    color: #ff4f57
}

.job-detail .text-left .price i {
    color: #ff4f57
}

.job-detail .clearfix ul li i {
    color: #ff4f57
}

.job-detail .sidebar .text-box h4 a {
    color: #ff4f57
}

.job-detail .sidebar .text-box a.text i {
    color: #ff4f57
}

.job-detail .sidebar .text-box strong.price i {
    color: #ff4f57
}

.job-detail .sidebar .sidebar-jobs ul li span i {
    color: #ff4f57
}

.right-sideabr .lest li a.active {
    color: #ff4f57
}

.right-sideabr .lest li a:hover {
    color: #ff4f57
}

.right-sideabr .lest .notinumber {
    background: #ff4f57
}

.panel-default .panel-heading {
    background: #ff4f57!important;
    border: #ff4f57
}

#pricing-table .table .pricing-header .price-value {
    color: #ff4f57
}

#pricing-table #active-tb .pricing-header {
    background: #ff4f57
}

#pricing-table .table:hover .pricing-header {
    background: #ff4f57
}

.form-control:focus,textarea:focus {
    border-color: #ff4f57
}

.all-categories ul li a:hover {
    color: #ff4f57
}

.post-header a {
    color: #ff4f57
}

.close i {
    background: #ff4f57
}

.blog-post .post-content .meta .meta-part a:hover,.blog-post .post-content .meta .meta-part a:focus {
    color: #ff4f57
}

.widget-title {
    border-bottom-color: #ff4f57
}

.widget-title::before {
    border-bottom-color: #ff4f57
}

#sidebar .cat-list li a:hover {
    color: #ff4f57
}

#sidebar .tag a {
    background: #ff4f57
}

blockquote {
    background: #ff4f57
}

.reply-link {
    color: #ff4f57
}

.tp-bullets.preview3 .bullet:hover,.tp-bullets.preview3 .bullet.selected {
    border-color: #ff4f57!important
}

.tparrows.preview3:hover:after {
    background: #ff4f57!important
}

.tparrows.preview3:hover:after {
    color: #fff
}
