{% extends 'societyBase.html.twig' %}

{% block body %}
    <div id="content" class="my-account">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-2">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-message alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-md-offset-2">
                    <div class="page-ads box">
                        <!--
                        <div class="post-header">
                            <p>Already have an account? <a href="my-account.html">Click here to login</a></p>
                        </div>
                        -->
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}

                        <div class="divider"><h3>Informations générales</h3></div>
                        {{ form_row(form.name, { 'label': 'Nom' }) }}
                        {{ form_row(form.description, { 'label': 'Description', 'attr': { 'rows': 10 }}) }}
                        {{ form_row(form.sector, { 'label': 'Secteur d\'activité' }) }}

                        <input type="submit" class="btn btn-common" value="Enregistrer" />

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
