{% extends 'societyBase.html.twig' %}

{% block body %}
    <div id="content">
        <div class="container">
            <div class="row">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-message alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row">
                {{ include('society_job/sidebar.html.twig') }}
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="job-alerts-item candidates">
                        <h3 class="alerts-title">Profils correspondants</h3>
                        <div class="alerts-list">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Nom</p>
                                </div>
                                <div class="col-md-4">
                                    <p>score</p>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </div>
                        {% for candidate in candidates %}
                            <div class="alerts-content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <b>
                                                <a href="#">
                                                    {{ candidate.firstName }} {{ candidate.lastName }}
                                                </a>
                                            </b>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p style="color: rgb({{ ((100-scores[candidate.id])*256/100) | round }}, {{ (scores[candidate.id]*256/100) | round }}, 0)">{{ scores[candidate.id] }}</p>
                                    </div>
                                    <div class="col-md-4">
                                       <a href="{{ path('society_show_profile', {'id': candidate.profile.id}) }}" class="btn btn-common">Voir le profil</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
