{% extends 'societyBase.html.twig' %}

{% import _self as profile %}

{% macro profile_field_prototype(field, name="__FIELD_NAME__", id=-1) %}
    <div {{ id >= 0 ? 'id=field_'~id }} class="row" style="margin: 0">
        <div>
            <h4>{{ name }}</h4>
        </div>
        <div style="display: none">
            {{ form_row(field.field) }}
        </div>
        <div class="col-md-6">
            {{ form_row(field.value, {'label': 'Niveau (de 1 à 10)', 'attr': {'class': 'category-weight'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(field.experience, {'label': 'Expérience dans le domaine (en mois)', 'attr': {'class': 'category-experience'}}) }}
        </div>
    </div>
{% endmacro %}

{% block body %}
    <div id="content" class="my-account">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-2">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-message alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-md-offset-2">
                    <div class="page-ads box">
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}

                        <div class="divider"><h3>Profil Idéal</h3></div>
                        <p>Définissez le profil idéal pour votre offre. Ce profil sera utilisé pour trouver les meilleurs candidats.</p>

                        <!-- Circles which indicates the steps of the form: -->
                        <div id="tab-indicators">
                            {% for i in range(1, stepCount) %}
                                <a>
                                    <span class="step {{ loop.index == currentStep ? 'active' }}"></span>
                                </a>
                            {% endfor %}
                        </div>

                        <div>
                            <h4>{{ category.name }}</h4>
                            <!-- -->
                            <div class="form-group">
                                <label for="fields-select">Choisissez au maximum 3 de vos domaines de prédilection</label>
                                <select multiple class="form-control" name="fields-select" id="fields-select">
                                    {% for id,field in fields %}
                                        <option {{ id in selectedFields ? "selected" }} value="{{ id }}">{{ field.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="profile-fields-list"
                                 class="form-group"
                                 data-fields="{{ fields | json_encode }}"
                                data-prototype="{{ profile.profile_field_prototype(form.profileFields.vars.prototype)|e }}"
                                data-widget-tags="{{ '<div></div>'|e }}"
                                style="width:100%">
                                {% for i,field in form.profileFields %}
                                    <div>
                                        {{ profile.profile_field_prototype(
                                            field,
                                            userProfile.profileFields[i].field.name,
                                            userProfile.profileFields[i].field.id
                                            )
                                        }}
                                    </div>
                                {% endfor %}
                            </div>

                            <div style="text-align:right">
                                <input type="submit" class="tab-next btn btn-common" value="{{ lastStep ? 'Valider' : 'Suivant' }}"/>
                            </div>
                        </div>

                        {{ form_end(form, { 'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>

    <script>
        var fields = {{ selectedFields | json_encode }};
        fields = fields.map(function(e) {
            return e.toString();
        });

        $('#fields-select').change(function (e) {
            e.preventDefault();
            var selected = $('#fields-select').val();

            // Recherche des catégories qui ont été ajoutées
            if (selected !== null) {
                for (var i = 0; i < selected.length; i++) {
                    if (fields.includes(selected[i])) continue;
                    fields.push(selected[i]);
                    addNewField(selected[i]);
                }
            }

            // Et celles qui ont été supprimées
            if (selected !== null) {
                for (i = fields.length - 1; i >= 0; i--) {
                    if (selected.includes(fields[i])) continue;
                    removeField(fields[i]);
                    fields.splice(i, 1);
                }
            } else {
                for (i = fields.length - 1; i >= 0; i--) {
                    removeField(fields[i]);
                    fields.splice(i, 1);
                }
            }
        });

        function addNewField(id) {
            var list = $('#profile-fields-list');
            var widget = list.attr('data-prototype');
            var fields = JSON.parse(list.attr('data-fields'));
            var name = fields[parseInt(id)].name;

            widget = widget.replace(/profile_fields_name/g, id);
            widget = widget.replace(/__FIELD_NAME__/g, name);

            var elem = jQuery(list.attr('data-widget-tags')).html(widget);
            elem.find('select').val(id);
            elem.attr('id', 'field_'+id);

            elem.appendTo(list);
        }

        function removeField(id) {
            var el = $('#field_'+id);
            if (!el) return ;
            el.remove();
        }
    </script>
{% endblock %}
