{% extends 'societyBase.html.twig' %}

{% block body %}
    <div id="content">
        <div class="container">
            <div class="row">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-message alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row">
                {{ include('society_job/sidebar.html.twig') }}
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="job-alerts-item candidates">
                        <h3 class="alerts-title">Mes offres</h3>
                        <div class="alerts-list">
                            <div class="row">
                                <div class="col-md-3">
                                    <p>Titre</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Type</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Candidatures</p>
                                </div>
                                <div class="col-md-3">
                                    <p>Date limite</p>
                                </div>
                            </div>
                        </div>
                        {% for job in jobsPager.currentPageResults %}
                            <div class="alerts-content">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h3><a href="{{ path('society_edit_job', { 'id': job.id }) }}">{{ job.title }}</a></h3>
                                    </div>
                                    <div class="col-md-3">
                                        <p><span class="full-time">{{ shortTypes[job.type] }}</span></p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ job.applications | length }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{ job.limitDate | date('d/m/Y')}}</p>
                                    </div>
                                </div>
                                <div>
                                    {% if job.bestProfile != null %}
                                        <a
                                            href="{{ path('society_browse_candidates', {'id': job.id}) }}"
                                            class="btn btn-common btn-sm"
                                        >
                                            Consulter les profils interessants
                                        </a>
                                    {% else %}
                                        <p>Il faut définir un profil idéal pour accéder aux profils</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        <br>
                        <div class="pagerfanta pager">
                            {{ pagerfanta(jobsPager, 'twitter_bootstrap3_translated') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
