{% extends 'societyBase.html.twig' %}

{% block body %}
    <div id="content">
        <div class="container">
            <div class="row">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row">
                {{ include('society_job/sidebar.html.twig') }}
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="page-ads box">
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}

                        <div class="divider"><h3>{{ new ? 'Créer une nouvelle offre' : 'Modifier une offre' }}</h3></div>
                        {{ form_row(form.title, { 'label': 'Titre' }) }}
                        {{ form_row(form.description, { 'label': 'Description', 'attr': { 'rows': 10 }}) }}
                        {{ form_row(form.type, { 'label': 'Type' }) }}
                        {{ form_row(form.limit_date, { 'label': 'Date limite' }) }}

                        <input type="submit" class="btn btn-common" value="Suivant" />

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}