{% extends 'societyBase.html.twig' %}

{% block body %}
    <div id="content">
        <div class="container">
            <div class="row">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-message alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="job-alerts-item candidates">
                        <div class="row">
                            <div class="divider"><h3>Profil Du Candidat</h3></div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p><b>Prénom :</b><br/>{{ profile.userInfo.firstName }}</p>
                                </div>
                                <div class="col-sm-4">
                                    <p><b>Nom : </b><br/>{{ profile.userInfo.lastName }}</p>
                                </div>
                                <div class="col-sm-4">
                                    <p><b>Status : </b><br/>{{ userStatus[profile.userInfo.status] }}</p>
                                </div>
                            </div>
                            <p><b>Adresse mail :</b><br/>{{ profile.userInfo.user.email }}</p>
                            <p><b>Description :</b><br/>{{ profile.userInfo.description }}</p>
                            <hr/>
                            <h4>CV(s)</h4>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Langue</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cv in profile.userInfo.cvs %}
                                    <tr>
                                        <td>{{ cv.lang }}</td>
                                        <td><a href="{{ vich_uploader_asset(cv, 'cvFile') }}">Télécharger</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
