{% extends 'societyBase.html.twig' %}

{% block body %}
    <div id="content">
        <div class="container">
            <div class="row">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-message alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row">
                {{ include('society_job/sidebar.html.twig') }}
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="job-alerts-item candidates">
                        <h3 class="alerts-title">
                            Candidature à <a
                                    href="{{ path('society_edit_job', { 'id': application.job.id }) }}">{{ application.job.title }}</a>
                        </h3>
                        <p class="center">Status : {{ application.statusString }}</p>
                        <div class="row">
                            <h4>Message du candidat</h4>
                            <div>
                                {{ application.text|nl2br }}
                            </div>
                            <hr/>
                            <h4>CV(s)</h4>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Langue</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cv in application.userInfo.cvs %}
                                    <tr>
                                        <td>{{ cv.lang }}</td>
                                        <td><a href="{{ vich_uploader_asset(cv, 'cvFile') }}">Télécharger</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr/>
                            <h4>Profil du candidat</h4>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p><b>Prénom :</b><br/>{{ application.userInfo.firstName }}</p>
                                </div>
                                <div class="col-sm-4">
                                    <p><b>Nom : </b><br/>{{ application.userInfo.lastName }}</p>
                                </div>
                                <div class="col-sm-4">
                                    <p><b>Status : </b><br/>{{ userStatus[application.userInfo.status] }}</p>
                                </div>
                            </div>
                            <p><b>Adresse mail :</b><br/>{{ application.userInfo.user.email }}</p>
                            <p><b>Description :</b><br/>{{ application.userInfo.description|nl2br }}</p>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-6 center">
                                    <a
                                        href="{{ path('society_set_application_status', {'id': application.id, 'action': 'reject'}) }}"
                                        class="btn btn-sm btn-border"
                                    >
                                        Refuser
                                    </a>
                                </div>
                                <div class="col-sm-6 center">
                                    <a
                                            href="{{ path('society_set_application_status', {'id': application.id, 'action': 'accept'}) }}"
                                            class="btn btn-sm btn-border"
                                    >
                                        Accepter
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Application Modal -->
    <div id="applicationModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                TODO
            </div>

        </div>
    </div>
{% endblock %}
