<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="right-sideabr">
        <div class="inner-box">
            <h4>Gestion des offres</h4>
            <ul class="lest item">
                <li><a class="{{ current_path in ['society_show_jobs'] ? 'active' : '' }}" href="{{ path('society_show_jobs') }}">Mes offres</a></li>
                <li><a class="{{ current_path in ['society_post_job'] ? 'active' : '' }}" href="{{ path('society_post_job') }}">Créer une offre</a></li>
            </ul>
            <ul class="lest item">
                <li><a class="{{ current_path in ['society_show_applications'] ? 'active' : '' }}" href="{{ path('society_show_applications') }}">Candidatures</a></li>
            </ul>
        </div>
    </div>
</div>
