{% set current_path = app.request.get('_route') %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Jobboard">

    <title>{% block title %}Job4You{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}">

    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/jasny-bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-select.min.css') }}" type="text/css">
        <!-- Material CSS -->
        <link rel="stylesheet" href="{{ asset('css/material-kit.css') }}" type="text/css">
        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{{ asset('fonts/font-awesome.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('fonts/themify-icons.css') }}">

        <!-- Main Styles -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css">
        <!-- Responsive CSS Styles -->
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css">

        <!-- Color CSS Styles  -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/colors/red.css') }}" type="text/css">
    {% endblock %}

</head>

<body>
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu">
            <nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo" href="{{ path('app_index') }}" style="font-size: 2em; line-height: 50px; color: #f96b73">{% block logo %}Job4You{% endblock %}</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar">
                        {% block nav %}
                        <!-- Start Navigation List -->
                        <ul class="nav navbar-nav">
                            <li>
                                <a class="active" href="{{ path('app_index') }}">
                                    Home
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right float-right">
                            <li class="right"><a href="{{ path('security_login') }}"><i class="ti-lock"></i> CONNEXION</a></li>
                            <li class="right"><a href="{{ path('security_register') }}"><i class="ti-lock"></i> INSCRIPTION</a></li>
                        </ul>
                        {% endblock %}
                    </div>
                </div>
                <!-- Mobile Menu Start -->
                <ul class="wpb-mobile-menu">
                    {% block nav_mobile %}
                    <li>
                        <a class="active" href="{{ path('app_index') }}">Home</a>
                    </li>
                    <li class="btn-m"><a href="{{ path('security_login') }}"><i class="ti-lock"></i> Log In</a></li>
                    {% endblock %}
                </ul>
                <!-- Mobile Menu End -->
            </nav>
        </div>
        <!-- Header Section End -->

        {% block header %}{% endblock %}
    </section>
    <!-- end intro section -->
</div>

{% block body %}{% endblock %}

<!-- Footer Section Start -->
<footer>

    <!-- Copyright Start  -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info text-center">
                        <p>Tout droit reservé &copy; 2018 - Développé par <a href="mailto:nicolas.decayeux@ensiie.fr">Nicolas Decayeux</a> pour la concours de la bourse coddity
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

</footer>
<!-- Footer Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
</a>

{% block javascripts %}
<!-- Main JS  -->
<script type="text/javascript" src="{{ asset('js/jquery-min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/material.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/material-kit.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
{% endblock %}

</body>
</html>