{% extends 'base.html.twig' %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li>
            <a
                class="{{ current_path in ['candidate_show_job', 'candidate_browse_jobs', 'candidate_show_applications'] ? 'active' : '' }}"
                href="{{ path('candidate_browse_jobs') }}"
            >
                Les offres
            </a>
        </li>
        <li>
            <a
                class="{{ current_path in ['candidate_edit_profile'] ? 'active' : '' }}"
                href="{{ path('candidate_edit_profile') }}"
            >
                Mon profil
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right float-right">
        <li class="right"><a href="{{ path('security_logout') }}"><i class="ti-lock"></i> Se déconnecter</a></li>
    </ul>
{% endblock %}

{% block nav_mobile %}
    <li>
        <a
            class="{{ current_path in ['candidate_show_job', 'candidate_browse_jobs', 'candidate_show_applications'] ? 'active' : '' }}"
            href="{{ path('candidate_browse_jobs') }}"
        >
            Les offres
        </a>
    </li>
    <li>
        <a
            class="{{ current_path in ['candidate_edit_profile'] ? 'active' : '' }}"
            href="{{ path('candidate_edit_profile') }}"
        >
            Mon profil
        </a>
    </li>
    <li class="btn-m"><a href="{{ path('security_logout') }}"><i class="ti-lock"></i> Se déconnecter</a></li>
{% endblock %}
