<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Jobboard">

    <title>{% block title %}Job Student Board{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}">

    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/jasny-bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-select.min.css') }}" type="text/css">
        <!-- Material CSS -->
        <link rel="stylesheet" href="{{ asset('css/material-kit.css') }}" type="text/css">
        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="{{ asset('fonts/font-awesome.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('fonts/themify-icons.css') }}">

        <!-- Animate CSS -->
        <link rel="stylesheet" href="{{ asset('extras/animate.css') }}" type="text/css">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="{{ asset('extras/owl.carousel.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('extras/owl.theme.css') }}" type="text/css">
        <!-- Rev Slider CSS -->
        <link rel="stylesheet" href="{{ asset('extras/settings.css') }}" type="text/css">
        <!-- Slicknav js -->
        <link rel="stylesheet" href="{{ asset('css/slicknav.css') }}" type="text/css">
        <!-- Main Styles -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css">
        <!-- Responsive CSS Styles -->
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}" type="text/css">

        <!-- Color CSS Styles  -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/colors/red.css') }}" media="screen"/>
    {% endblock %}

</head>

<body>
<!-- Header Section Start -->
<div class="header">
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="logo-menu">
            <nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="50">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo" href="index.html">{% block logo %}<img src="assets/img/logo.png" alt="">{% endblock %}</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar">
                        {% block nav %}
                        <!-- Start Navigation List -->
                        <ul class="nav navbar-nav">
                            <li>
                                <a class="active" href="{{ path('app_index') }}">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    Pages <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="about.html">
                                            About
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul
                        <ul class="nav navbar-nav navbar-right float-right">
                            <li class="right"><a href="{{ path('security_login') }}"><i class="ti-lock"></i> Log In</a></li>
                        </ul>
                        {% endblock %}
                    </div>
                </div>
                <!-- Mobile Menu Start -->
                <ul class="wpb-mobile-menu">
                    {% block nav_mobile %}
                    <li>
                        <a class="active" href="{{ path('app_index') }}">Home</a>
                    </li>
                    <li>
                        <a href="about.html">Pages</a>
                        <ul>
                            <li><a href="about.html">About</a></li>
                        </ul>
                    </li>
                    <li class="btn-m"><a href="{{ path('security_login') }}"><i class="ti-lock"></i> Log In</a></li>
                    {% endblock %}
                </ul>
                <!-- Mobile Menu End -->
            </nav>
        </div>
        <!-- Header Section End -->

        {% block header %}{% endblock %}
    </section>
    <!-- end intro section -->
</div>

{% block body %}{% endblock %}

<!-- Footer Section Start -->
<footer>
    <!-- Footer Area Start -->
    <section class="footer-Content">
        <div class="container">
            {% block footer %}
            {% endblock %}
        </div>
    </section>
    <!-- Footer area End -->

    <!-- Copyright Start  -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info text-center">
                        <p>All Rights reserved &copy; 2017 - Designed & Developed by <a rel="nofollow"
                                                                                        href="http://graygrids.com">GrayGrids</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

</footer>
<!-- Footer Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="ti-arrow-up"></i>
</a>

{% block javascripts %}
<!-- Main JS  -->
<script type="text/javascript" src="assets/js/jquery-min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/material.min.js"></script>
<script type="text/javascript" src="assets/js/material-kit.js"></script>
<script type="text/javascript" src="assets/js/jquery.parallax.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.slicknav.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="assets/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="assets/js/form-validator.min.js"></script>
<script type="text/javascript" src="assets/js/contact-form-script.js"></script>
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js"></script>
{% endblock %}

</body>
</html>