{% extends 'base.html.twig' %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li>
            <a class="{{ current_path in ['society_show_jobs', 'society_edit_job'] ? 'active' : '' }}" href="{{ path('society_show_jobs') }}">
                Mes offres
            </a>
        </li>
        <li>
            <a class="{{ current_path == 'society_edit_profile' ? 'active' : '' }}" href="{{ path('society_edit_profile') }}">
                Mon entreprise
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right float-right">
        <li class="right"><a href="{{ path('security_logout') }}"><i class="ti-lock"></i> Se déconnecter</a></li>
    </ul>
{% endblock %}

{% block nav_mobile %}
    <li>
        <a class="{{ current_path in ['society_show_jobs', 'society_edit_job'] ? 'active' : '' }}" href="{{ path('society_show_jobs') }}">
            Mes offres
        </a>
    </li>
    <li>
        <a class="{{ current_path == 'society_edit_profile' ? 'active' : '' }}" href="{{ path('society_edit_profile') }}">
            Mon entreprise
        </a>
    </li>
    <li class="btn-m"><a href="{{ path('security_logout') }}"><i class="ti-lock"></i> Se déconnecter</a></li>
{% endblock %}

