{% extends 'candidateBase.html.twig' %}

{% import _self as profile %}

{% macro cv_field_prototype(cvField, name) %}
    <td>{{ name }}</td>
    <td>{{ form_widget(cvField.lang) }}</td>
    <td>
        <div class="form-group">
            <div class="upload-button">
                <button class="btn btn-common">Upload</button>
                {{ form_widget(cvField.cvFile.file, { 'attr': { 'class': 'upload_cv_btn'}}) }}
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <a href="#" class="delete-cv btn btn-common">X</a>
        </div>
    </td>
{% endmacro %}

{% block body %}
    <div id="content" class="my-account">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-2">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-message alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-md-offset-2">
                    <div class="page-ads box">
                        <!--
                        <div class="post-header">
                            <p>Already have an account? <a href="my-account.html">Click here to login</a></p>
                        </div>
                        -->
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}

                        <div class="divider"><h3>Informations générales</h3></div>
                        {{ form_row(form.firstName, { 'label': 'Prénom' }) }}
                        {{ form_row(form.lastName, { 'label': 'Nom' }) }}
                        {{ form_row(form.description, { 'label': 'Description', 'attr': { 'rows': 10 }}) }}
                        {{ form_row(form.status, { 'label': 'Status' }) }}

                        <div class="divider"><h3>Mes CVs</h3></div>
                        <table id="cv-fields-list"
                            data-prototype="{{ profile.cv_field_prototype(form.cvs.vars.prototype)|e }}"
                            data-widget-tags="{{ '<tr></tr>'|e }}"
                            style="width:100%">
                            {% for cvField in form.cvs %}
                                <tr>
                                    {{ profile.cv_field_prototype(cvField, cvs[loop.index-1].cvOriginalName) }}
                                </tr>
                            {% endfor %}
                        </table>
                        <hr/>
                        <div class="add-post-btn">
                            <div class="pull-left">
                                <a href="#"
                                    class="add-post-btn add_new_cv btn-added"
                                    data-list="#cv-fields-list">
                                    <i class="ti-plus"></i> Ajouter un CV
                                </a>
                            </div>
                        </div>

                        <input type="submit" class="btn btn-common" value="Enregistrer" />
                        <a href="{{ path('candidate_edit_detailed_profile') }}" class="btn btn-common">Profil Détaillé</a>

                        {{ form_end(form, { 'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.add_new_cv').click(function (e) {
            e.preventDefault();
            var list = jQuery(jQuery(this).attr('data-list'));
            // Try to find the counter of the list
            var counter = list.data('widget-counter') | list.children().length;
            // If the counter does not exist, use the length of the list
            if (!counter) { counter = list.children().length; }

            // grab the prototype template
            var newWidget = list.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, counter);
            // Increase the counter
            counter++;
            // And store it, the length cannot be used if deleting widgets is allowed
            list.data(' widget-counter', counter);

            // create a new list element and add it to the list
            var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
            // Select fr by default
            newElem.find('select').val('fr');
            newElem.find('.delete-cv').click(delete_cv);
            newElem.appendTo(list);
        });

        $('.delete-cv').click(delete_cv);

        function delete_cv(e) {
            console.log('delete_cv', e);
            e.preventDefault();
            //
            var field = $(e.target).parent().parent().parent();
            console.log(field);
            field.remove();
        }
    </script>
{% endblock %}