{% extends 'candidateBase.html.twig' %}

{% import _self as profile %}

{% macro profile_category_prototype(categoryField, name="__CATEGORY_NAME__", id=-1) %}
    <div {{ id >= 0 ? 'id=category_'~id }} class="row" style="margin: 0">
        <div>
            <h4>{{ name }}</h4>
        </div>
        <div style="display: none">
            {{ form_row(categoryField.category) }}
        </div>
        <div class="col-md-6">
            {{ form_row(categoryField.weight, {'label': 'Niveau (de 1 à 10)', 'attr': {'class': 'category-weight'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(categoryField.experience, {'label': 'Expérience dans le domaine (en mois)', 'attr': {'class': 'category-experience'}}) }}
        </div>
    </div>
{% endmacro %}

{% block body %}
    <div id="content" class="my-account">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-2">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-message alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-md-offset-2">
                    <div class="page-ads box">
                        {{ form_start(form) }}
                        {{ form_row(form._token) }}

                        <div class="divider"><h3>Profil Détaillé</h3></div>

                        <!-- Circles which indicates the steps of the form: -->
                        <div id="tab-indicators"></div>

                        <div>
                            {{ form_row(form.request, { 'label': 'Critère de recherche' }) }}

                            <!-- -->
                            <div class="form-group">
                                <label for="categories-select">Choisissez au maximum 5 de vos domaines de prédilection</label>
                                <select multiple class="form-control" name="categories-select" id="categories-select">
                                    {% for id,category in categories %}
                                        <option {{ id in selectedCategories ? "selected" }} value="{{ id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div id="profile-categories-list"
                                 class="form-group"
                                 data-categories="{{ categories | json_encode }}"
                                data-prototype="{{ profile.profile_category_prototype(form.profileCategories.vars.prototype)|e }}"
                                data-widget-tags="{{ '<div></div>'|e }}"
                                style="width:100%">
                                {% for category in form.profileCategories %}
                                    <div>
                                        {{ profile.profile_category_prototype(
                                            category,
                                            userProfile.profileCategories[loop.index-1].category.name,
                                            userProfile.profileCategories[loop.index-1].category.id
                                            )
                                        }}
                                    </div>
                                {% endfor %}
                            </div>

                            <div style="text-align:right">
                                <input type="submit" class="tab-next btn btn-common" value="Suivant"/>
                            </div>
                        </div>

                        {{ form_end(form, { 'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>

    <script>
        var categories = {{ selectedCategories | json_encode }};
        categories = categories.map(function(e) {
            return e.toString();
        });
        updateSteps(categories.length+1);

        $('#categories-select').change(function (e) {
            e.preventDefault();
            var selected = $('#categories-select').val();

            // Recherche des catégories qui ont été ajoutées
            if (selected !== null) {
                for (var i = 0; i < selected.length; i++) {
                    if (categories.includes(selected[i])) continue;
                    categories.push(selected[i]);
                    addNewCategory(selected[i]);
                }
            }

            // Et celles qui ont été supprimées
            if (selected !== null) {
                for (i = categories.length - 1; i >= 0; i--) {
                    if (selected.includes(categories[i])) continue;
                    removeCategory(categories[i]);
                    categories.splice(i, 1);
                }
            } else {
                for (i = categories.length - 1; i >= 0; i--) {
                    removeCategory(categories[i]);
                    categories.splice(i, 1);
                }
            }

            console.log(categories);
            updateSteps(categories.length+1);
        });

        function updateSteps(count) {
            var tabIndicators = $('#tab-indicators');
            tabIndicators.empty();

            for (var i=0; i<count; i++) {
                var el = $('<a><span class="step"></span></a>');
                if (i == 0)
                    el.find('.step').addClass('active');

                tabIndicators.append(el);
            }
        }

        function addNewCategory(id) {
            var list = $('#profile-categories-list');
            var widget = list.attr('data-prototype');
            var categories = JSON.parse(list.attr('data-categories'));
            var name = categories[parseInt(id)].name;

            widget = widget.replace(/profile_categories_name/g, id);
            widget = widget.replace(/__CATEGORY_NAME__/g, name);

            var elem = jQuery(list.attr('data-widget-tags')).html(widget);
            elem.find('select').val(id);
            elem.attr('id', 'category_'+id);

            elem.appendTo(list);
        }

        function removeCategory(id) {
            var el = $('#category_'+id);
            if (!el) return ;
            el.remove();
        }
    </script>
{% endblock %}